<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="addItemForm" (ngSubmit)="onAddItem()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="productName"
          />
          <p
            class="help-text"
            *ngIf="
              !addItemForm.get('productName').valid &&
              addItemForm.get('productName').touched
            "
          >
            Please enter a product name!
          </p>
        </div>
        <div class="col-sm-3 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            formControlName="productAmount"
          />
          <p
            class="help-text"
            *ngIf="
              !addItemForm.get('productAmount').valid &&
              addItemForm.get('productAmount').touched
            "
          >
            Please enter an amount!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
